# 데이터 셋 합치기

In [1]:
import pandas as pd
import numpy as np

In [3]:
total_data = pd.read_csv('./spell_checked_data.csv')

In [9]:
total_data.head()

,ISBN13,rating,review,label
0,9788960532403,10,두 말할 것 없이 꼭 한 번은 읽어야 할 책,1
1,9788991290440,10,Have to read,1
2,9791164452705,10,"초판본 걸리버 여행 기 양장! 소장용, 선물용으로 최고입니다.",1
3,9788971996164,10,좋은 입문서,1
4,9788925562599,6,소설이 당연히 그런 거겠지만 그래도 좀 아쉽다. 그냥 심심풀이 영화 한 편 본 것 ...,0

In [4]:
print(len(total_data))

211848

In [5]:
naver_movie_data = pd.read_table('./naver_movie_ratings.txt')

In [6]:
naver_movie_data.rename(columns={"document":"review"}, inplace = True)

In [10]:
naver_movie_data.rename(columns={"id":"ISBN13"}, inplace = True)

In [7]:
naver_movie_data['rating'] = 5

In [12]:
naver_movie_data = naver_movie_data[['ISBN13', 'rating', 'review', 'label']]

In [13]:
naver_movie_data.head(5)

     ISBN13  rating                                             review  label
0   8112052       5                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1   8132799       5  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2   4655635       5               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3   9251303       5  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4  10067386       5                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1

In [32]:
naver_movie_data.drop(columns=["id"], inplace=True)

In [34]:
naver_movie_data = naver_movie_data[['label','rating','review']]

In [35]:
naver_movie_data.head(5)

   label  rating                                             review
0      1       5                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ
1      1       5  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...
2      1       5               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.
3      1       5  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...
4      1       5                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.

In [15]:
total_data = total_data.append(naver_movie_data)

In [19]:
total_data.head()

,ISBN13,rating,review,label
0,9788960532403,10,두 말할 것 없이 꼭 한 번은 읽어야 할 책,1
1,9788991290440,10,Have to read,1
2,9791164452705,10,"초판본 걸리버 여행 기 양장! 소장용, 선물용으로 최고입니다.",1
3,9788971996164,10,좋은 입문서,1
4,9788925562599,6,소설이 당연히 그런 거겠지만 그래도 좀 아쉽다. 그냥 심심풀이 영화 한 편 본 것 ...,0

In [18]:
total_data.tail()

         ISBN13  rating                               review  label
199995  8963373       5                       포켓 몬스터 짜가 ㅡㅡ;;      0
199996  3302770       5                                쓰.레.기      0
199997  5458175       5    완전 사이코영화. 마지막은 더욱더 이 영화의질을 떨어트린다.      0
199998  6908648       5  왜난 재미없었지 ㅠㅠ 라따뚜이 보고나서 스머프 봐서 그런가 ㅋㅋ      0
199999  8548411       5                      포풍저그가나가신다영차영차영차      0

In [20]:
len(total_data)

411848

In [21]:
total_data.to_csv('./total_data0.csv', index=False)

# 문장 합치고 분리하기

In [1]:
import pandas as pd
total_data = pd.read_csv('cleansing_normalizing_data.csv')
print(len(total_data))

317679

In [15]:
import numpy as np
total_data.replace('', np.nan, inplace=True)
total_data.dropna(inplace=True)
total_data.drop_duplicates(subset=['review'], inplace=True)
total_data.to_csv('cleansing_normalizing_data.csv', index=False)
print(len(total_data))

317678

In [28]:
bind_data = ['\n'.join(total_data['review'][i:i+10]) for i in range(0, 317678, 10)]
print(len(bind_data))

31768

In [30]:
corpus = [review for review10 in bind_data for review in review10.split('\n')]
print(len(corpus))

317678